.root {
  @mixin responsive padding-block-start, 50, 175;
}

.title {
  text-align: center;

  @mixin responsive font-size, 24, 32;

  color: #244d4d;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  @mixin responsive gap, 50, 100;
  margin: 40px auto;
}

/* Мобильные устройства */

@media (max-width: $breakpoint-mobile-max) {
  .root {
    padding-inline: 20px;
  }

  .companies {
    display: flex;
    flex-direction: column;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}
