.footer {
  width: 100%;
  background-color: #305f64;
  color: white;
  margin-top: 140px;
  padding-top: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  box-sizing: border-box;
  width: 100%;
}

.brandSection {
  display: flex;
  flex-direction: column;
  max-width: 308px;
}

.brandDescription {
  margin: 16px 0;
  line-height: 1.5;
  word-wrap: break-word;
}

.socialMedia {
  display: flex;
  gap: 12px;
}

.links {
  width: 20px;
  height: 20px;
  margin-bottom: 40px;
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 120px;
}

.subscribeSection {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.subscribeText {
  margin: 8px 0 16px 0;
  color: rgba(255, 255, 255, 0.8);
}

.subscribeForm {
  display: flex;
  width: 100%;
  max-width: 253px;
  height: 48px;
  border: 1.5px solid #d9dce5;
  background-color: white;
  border-radius: 4px;
  align-items: center;
  padding-inline: 10px;
}

.emailInput {
  flex: 1;
  height: 100%;
  padding: 0 16px;
  border: none;
  font-size: 16px;
  outline: none;
}

.subscribeButton {
  width: 38px;
  height: 38px;
  background-color: #ffb731;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #407980;
  background-color: #305f64;
  height: 63px;
  color: white;
}
