.root {
  background-color: black;
  border: none;
}

.small {
  @mixin responsive font-size, 10, 12;
  line-height: 21px;
  padding: 5px 14px;
}

.medium {
  @mixin responsive font-size, 12, 16;

  line-height: 22px;
  @mixin responsive padding, 10, 20;
}

.large {
  @mixin responsive font-size, 14, 20;

  line-height: 25px;
  @mixin responsive padding, 10, 20;
}

.dark {
  background-color: #244d4d;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #154444;
}

.vector {
  @mixin responsive width, 20, 40;
  @mixin responsive height, 20, 40;
}

.like {
  width: 30px;
  height: 30px;
}

.arrow {
  background-color: #f4f6f6;
  border-radius: 50%;
  border: none;
}

.favorites {
  border-radius: 50%;
  border: none;
  background-color: #ef5423;
}

.share {
  border-radius: 50%;
  border: none;
  background-color: #ecf4ff;
}
