.description {
  display: flex;
  height: 560px;
  text-align: left;
}

.text {
  background-color: #154444;
  font-size: 30px;
  padding: 80px 100px;
  color: white;
}

.paragraph {
  font-size: 20px;
  padding-bottom: 30px;
}


