.root {
  display: grid;
  grid-template-columns: 35% 65%;

  text-align: left;
  margin-top: 26px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.imgWrap {
  @mixin responsive height, 400, 560;
}

.chair {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  background-color: #154444;
  @mixin responsive padding, 20, 40;
}

.title {
  @mixin responsive font-size, 10, 30;
  @mixin responsive padding-block-end, 10, 20;
  color: white;
}

.paragraph {
  @mixin responsive font-size, 10, 20;
  color: white;
  @mixin responsive padding-block-end, 10, 20;
}
