.sofa {
  display: flex;
  margin-top: 140px;
  justify-content: space-between;
  gap: 100px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 436px;
  height: 517px;
}

.paragraph {
  padding-top: 20px;
}

.name {
  margin: 0;
  color: #244d4d;
}

.information {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
