.elements {
  display: flex;
  gap: 15px;
}

.elementIcons {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 20px;
  margin-top: 0px;
  color: #244d4d;
}

.paragraph {
  font-size: 18px;
  margin-top: 14px;
}
