.productCards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  
}

.card {
  width: 380px;
  height: 380px;
  flex-direction: column;
  margin-top: 80px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 24px;
  margin-top: 30px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buy {
  display: flex;
  justify-content: space-between;
  padding-inline: 24px;
  align-items: center;
  margin-top: 20px;
}
