.card {
  width: 380px;
  height: 380px;
  flex-direction: column;
  margin-top: 80px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.activityButtons {
  display: flex;
  gap: 8px;
}

.buySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price {
  margin: 0;
  font-size: 20px;
}
