.root {
  text-decoration: none;
  color: black;
}

.links {
  margin: 0 auto;
  color: #161616;
}

.navigation {
  font-size: 16px;
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}
